.breadcrumbs {
  margin: 0 0 0 .9rem;
  .crumb {
    display: inline-block;
    padding: .5rem .7rem;
    margin: 0 .9rem .9rem 0;
    background: var(--bg-color1);
    border-radius: .5rem;
    cursor: pointer;

    &:hover {
      background: var(--bg-color1-hover);
    }
  }
}
