.card {
  box-sizing: border-box;
  // position: relative;
  display: flex;
  flex-wrap: nowrap;
  background: #ccc;
  margin: .9rem;
  border-radius: .1rem;
  align-items: stretch;
  color: #111;
  &:nth-child(2n) {
    // background: #bbb;
  }
  &:hover {
    background: #b3b3b3;
  }
  a {
    box-sizing: border-box;
    padding: .7rem .9em;
    font-weight: normal;
    display:inline-block;
    color: inherit;
    font-size: 1rem;
    // line-height: 1.2rem;
    width: 70%;
    margin: 0;
    height: 100%;
    max-height: 2.6em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    // border-right: 1px solid red;
  }
  .subcat-query-btn {
    color: inherit;
    font-size: 1rem;
    border-left: .1rem solid #eee;
    box-sizing: border-box;
    padding: .7rem .9em;
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .articles {
    color: inherit;
    font-size: 1rem;
    border-left: .1rem solid #eee;
    box-sizing: border-box;
    padding: .7rem .9em;
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
