html {
  --font1: Verdana, Arial, Helvetica, sans-serif;
  --font2: Courier, "Courier New", monospace;
  font-size: 3.8vw;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

body {
  background: var(--bg-color-base);
  color: var(--color1);
  margin: 0;
  --bg-color-base: #f3f3f3;
  --bg-color1: #d7d7d7;
  --bg-color1-hover: #bbb;
  --bg-color1-select: #a4a4a4;
  --color1: #0a0a0a;
  --color2: #555;
  --color-off: #888;
  --bg-color-off: #e3e3e3;
  --bg-color1-inverse: #222;
}

.header__title {
  font-size: 1rem;
  background: var(--bg-color1-inverse);
  color: var(--bg-color-base);
  margin: 0;
  padding: 1.5rem;
}

.topPage {
  min-height: 90vh;
  main {
    display: block;
  }
}

.footer {
  display: block;
  background: var(--bg-color1-inverse);
  height: 10vh;
}
.footer__item {
  box-sizing: border-box;
  font-family: var(--font2);
  font-size: .9rem;
  padding: 0 .9rem;
  color: var(--bg-color-base);
  line-height: 10vh;
}

// for wide displays
@media only screen and (orientation: landscape) {
  body {
    margin: 0 auto;
  }
  html {
    font-size: 2vh;
  }
}

// for even wider displays
@media (min-aspect-ratio: 14/9) {
  body {
    width: 60%;
  }
}
