html {
  font-size: 3vw;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: var(--bg-color-base);
  color: var(--color1);
  margin: 0;
  --bg-color-base: #f3f3f3;
  --bg-color1: #d7d7d7;
  --bg-color1-hover: #bbb;
  --bg-color1-select: #a4a4a4;
  --color1: #0a0a0a;
  --color-off: #666;
  --bg-color1-inverse: #222;
}

.header-title {
  font-size: 1.4rem;
  background: var(--bg-color1-inverse);
  color: var(--bg-color-base);
  margin: 0;
  padding: 0.7rem 1rem;
}
input {
  font-size: 1.2rem;
  padding: .5rem;
}

// for wide displays
@media only screen and (orientation: landscape) {
  body {
    margin: 0 auto;
  }
  html {
    font-size: 2vh;
  }
}

// for even wider displays
@media (min-aspect-ratio: 14/9) {
  body {
    width: 60%;
  }
}
