.search-form {
  margin: 2.1rem .9rem 1.4rem;
}
.input-field {
  background: #ccc;
  border: none;
  margin: 0;
  border-radius: .1rem;
  &:focus {
    // background: #b3b3b3;
    outline: #111 .1rem solid;
  }
}
.input-label {
  display: block;
  margin: 0 0 .5rem 0
}

@media only screen and (orientation: landscape) {
  body {
    margin: 0 auto;
  }
  html {
    font-size: 2vh;
  }
}
