.search-form {
  margin: 2.1rem .7rem 1.4rem;
}
.input-field {
  background: #ddd;
  border: none;
  margin: 0;
  &:focus {
    background: #f5f5f5;
  }
}
.input-label {
  display: block;
  margin: 0 0 .5rem 0
}

@media only screen and (orientation: landscape) {
  body {
    margin: 0 auto;
  }
  html {
    font-size: 2vh;
  }
}
