.search-form {
  margin: 2rem .9rem 1rem;
  font-size: 1rem;
}
.form-field-box {
  display: inline-block;
  margin-right: .9rem;
  
  .form-label {
    display: block;
    margin: 0 0 .5rem 0;
    font-size: inherit;
  }

  .form-input {
    background: #d7d7d7;
    padding: .5rem .5rem;
    border: none;
    margin: 0;
    font-size: inherit;
    border-radius: .1rem;
    border: none;
    &:focus {
      // background: #b3b3b3;
      outline: #111 .1rem solid;
    }
    option {
      border: none;
    }
  }
}
